[user]
    name = chrisfinazzo
    email = chris.finazzo@gmail.com
    signingkey = 1201DC9E114DDFBF
[credential]
    helper = osxkeychain
[core]
    editor = bbedit -w
    excludesfile = /Users/Chris/.gitignore_global
[diff]
    tool = "bbdiff"
[difftool]
    prompt = NO
[difftool "bbdiff"]
    cmd = bbdiff --wait --resume "$LOCAL" "$REMOTE"
[merge]
    tool = "bbdiff"
[mergetool]
    prompt = NO
[mergetool "bbdiff"]
    cmd = bbdiff --wait --resume "$LOCAL" "$REMOTE"
[commit]
    gpgsign = true
[alias]
	pr = "!f() { git fetch -fu ${2:-upstream} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
	pr-clean = "!git checkout master ; git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
